In [1]:
import pandas as pd
from sqlalchemy.orm import Session
from models import *
# from schemas.user_schema import *
# from schemas.ruangan_schema import *
# from schemas.instalasi_schema import *
from database import *
import numpy as np

In [2]:
# pegawai = pd.read_csv("modelses/seed/DataPegawai.csv")
# pegawai = pd.read_csv("modelses/seed/Instalasi.csv")
# pegawai = pd.read_csv("modelses/seed/Ruangan.csv")
pegawai = pd.read_csv("seed/JenisBarang.csv")

In [3]:
pegawai.tail()

,KdJenisBarang,JenisBarang,KdKelompokBarang,QJenisBarang,KodeExternal,NamaExternal,StatusEnabled
12,55,Inventaris PPM,2,174,NaN,NaN,1
13,40,Peralatan Medik,1,130,NaN,NaN,1
14,89,Peralatan Komputer,1,178,NaN,NaN,1
15,41,Darah,2,140,12,DARAH,1
16,39,Peralatan Rumah Tangga,1,129,NaN,NaN,1

In [5]:
# pgw_new = pegawai.drop(["QInstalasi", "KodeExternal", "NamaExternal", "StatusEnabled"], axis=1)
pgw_new = pegawai

In [4]:
db = SessionLocal()

In [40]:
ss = db.query(Ruangan).all()

In [6]:
# pgw_new = pgw_new.astype(object).where(pd.notnull(pgw_new), None)
pgw_new = pgw_new.astype(object)
pgw_new.head()

,KdJenisBarang,JenisBarang,KdKelompokBarang,QJenisBarang,KodeExternal,NamaExternal,StatusEnabled
0,1,Alkes,2,1,NaN,NaN,1
1,2,Obat-obatan,2,2,NaN,NaN,1
2,3,Gas Medis,2,3,NaN,NaN,1
3,4,Radiologi,2,4,NaN,NaN,1
4,5,Laboratorium,2,5,NaN,NaN,1

In [56]:
for i in range(0, pgw_new.shape[0]):
    pegawai = Pegawai(id=pgw_new.iloc[i]['IdPegawai'],
                      nama_lengkap=pgw_new.iloc[i]['NamaLengkap'],
                      nama_panggilan=pgw_new.iloc[i]['NamaPanggilan'],
                      jenis_kelamin=pgw_new.iloc[i]['JenisKelamin'],
                      tempat_lahir=pgw_new.iloc[i]['TempatLahir'],
                      tanggal_lahir=pgw_new.iloc[i]['TglLahir']
                     )
    db.add(pegawai)
    db.commit()
    db.refresh(pegawai)

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (psycopg2.errors.DatatypeMismatch) column "tanggal_lahir" is of type timestamp without time zone but expression is of type double precision
LINE 1: ...ANI, Sp.P', '19771019 200604 2 015', 'Surakarta', 'NaN'::flo...
                                                             ^
HINT:  You will need to rewrite or cast the expression.

[SQL: INSERT INTO pegawai (id, nama_lengkap, nama_panggilan, tempat_lahir, tanggal_lahir, jenis_kelamin, no_hp, no_wa, created_at, update_at, deleted_at) VALUES (%(id)s, %(nama_lengkap)s, %(nama_panggilan)s, %(tempat_lahir)s, %(tanggal_lahir)s, %(jenis_kelamin)s, %(no_hp)s, %(no_wa)s, %(created_at)s, %(update_at)s, %(deleted_at)s)]
[parameters: {'id': 'P013000096', 'nama_lengkap': 'dr. RENI ARI MARTANI, Sp.P', 'nama_panggilan': '19771019 200604 2 015', 'tempat_lahir': 'Surakarta', 'tanggal_lahir': nan, 'jenis_kelamin': 'P', 'no_hp': None, 'no_wa': None, 'created_at': datetime.datetime(2021, 3, 4, 10, 12, 9, 626211), 'update_at': datetime.datetime(2021, 3, 4, 10, 12, 9, 626211), 'deleted_at': None}]
(Background on this error at: http://sqlalche.me/e/13/f405) (Background on this error at: http://sqlalche.me/e/13/7s2a)

In [28]:
for i in range(0, pgw_new.shape[0]):
    instalasi = Instalasi(id=pgw_new.iloc[i]['KdInstalasi'],
                      nama=pgw_new.iloc[i]['NamaInstalasi'],
                     )
    db.add(instalasi)
    db.commit()
    db.refresh(instalasi)
    db.close()

In [36]:
for i in range(0, pgw_new.shape[0]):
    ruangan = Ruangan(id=pgw_new.iloc[i]['KdRuangan'],
                      nama=pgw_new.iloc[i]['NamaRuangan'],
                      id_instalasi=pgw_new.iloc[i]['KdInstalasi']
                     )
    db.add(ruangan)
    db.commit()
    db.refresh(ruangan)
    db.close()

In [8]:
for i in range(0, pgw_new.shape[0]):
    instalasi = JenisSarana(nama=pgw_new.iloc[i]['JenisBarang'])
    db.add(instalasi)
    db.commit()
    db.refresh(instalasi)
    db.close()

In [3]:
from controllers.kategori_masalah_controller import *

In [4]:
seed_kategori_masalah(db=db)