In [1]:
import pandas as pd
from sqlalchemy.orm import Session
from models import *
# from schemas.user_schema import *
# from schemas.ruangan_schema import *
# from schemas.instalasi_schema import *
from database import *
import numpy as np

In [2]:
df_pegawai = pd.read_csv("modelses/seed/DataPegawai.csv")
df_instalasi = pd.read_csv("modelses/seed/Instalasi.csv")
df_ruangan = pd.read_csv("modelses/seed/Ruangan.csv")

In [30]:
pegawai.tail()

,KdRuangan,NamaRuangan,NoRuangan,LokasiRuangan,KdInstalasi,KdDetailJenisJasaPelayanan,NoCounter,QRuangan,KodeExternal,NamaExternal,StatusEnabled
215,991,Laboratorium Mikrobiologi Klinik,NaN,-,9,1.0,NaN,452,NaN,NaN,1
216,808,ICCU,NaN,ICCU,8,1.0,NaN,545,24.0,ICC,1
217,966,Bank Darah,NaN,-,9,1.0,NaN,458,NaN,NaN,1
218,809,PICU,NaN,-,8,1.0,NaN,546,24.0,PIC,1
219,119,Poli Stroke,NaN,NaN,2,1.0,NaN,477,NaN,NaN,1

In [33]:
# pgw_new = pegawai.drop(["QInstalasi", "KodeExternal", "NamaExternal", "StatusEnabled"], axis=1)
pgw_new = pegawai

In [5]:
db = SessionLocal()

In [40]:
ss = db.query(Ruangan).all()

In [3]:
# pgw_new = pgw_new.astype(object).where(pd.notnull(pgw_new), None)
df_pegawai = df_pegawai.astype(object)
df_instalasi = df_instalasi.astype(object)
df_ruangan = df_ruangan.astype(object)
# pgw_new.head()

In [8]:
try:
    for i in range(0, df_pegawai.shape[0]):
        pegawai = Pegawai(id=df_pegawai.iloc[i]['IdPegawai'],
                      nama_lengkap=df_pegawai.iloc[i]['NamaLengkap'],
                      nama_panggilan=df_pegawai.iloc[i]['NamaPanggilan'],
                      jenis_kelamin=df_pegawai.iloc[i]['JenisKelamin'],
                      tempat_lahir=df_pegawai.iloc[i]['TempatLahir'],
                      tanggal_lahir=df_pegawai.iloc[i]['TglLahir']
                     )
        db.add(pegawai)
        db.commit()
        db.refresh(pegawai)
except:
    db.rollback()

C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\orm\session.py:562: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "

In [9]:
try:
    for i in range(0, df_instalasi.shape[0]):
        instalasi = Instalasi(id=df_instalasi.iloc[i]['KdInstalasi'],
                      nama=df_instalasi.iloc[i]['NamaInstalasi'],
                     )
        db.add(instalasi)
        db.commit()
        db.refresh(instalasi)
        db.close()
except:
    db.rollback()

In [12]:
try:
    for i in range(0, df_ruangan.shape[0]):
        ruangan = Ruangan(id=df_ruangan.iloc[i]['KdRuangan'],
                      nama=df_ruangan.iloc[i]['NamaRuangan'],
                      id_instalasi=df_ruangan.iloc[i]['KdInstalasi']
                     )
        db.add(ruangan)
        db.commit()
        db.refresh(ruangan)
        db.close()
except:
    db.rollback()