In [1]:
import pandas as pd
from sqlalchemy.orm import Session
from models import *
# from schemas.user_schema import *
# from schemas.ruangan_schema import *
# from schemas.instalasi_schema import *
from database import *
# import numpy as np

In [2]:
pegawai = pd.read_csv("seed/DataPegawai.csv")
# pegawai = pd.read_csv("modelses/seed/Instalasi.csv")
# pegawai = pd.read_csv("modelses/seed/Ruangan.csv")
# pegawai = pd.read_csv("seed/JenisBarang.csv")

In [3]:
pegawai.tail()

,IdPegawai,KdJenisPegawai,KdTitle,NamaLengkap,NamaKeluarga,NamaPanggilan,JenisKelamin,TempatLahir,TglLahir,TglMasuk,TglKeluar
761,L001000068,7,4.0,IRKHAM ABDULLAH AZZAM,NaN,NaN,L,Tegal,7/8/1992 00:00:00,NaN,NaN
762,P023000575,23,2.0,"Santoso, Amd",NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,P023000576,23,2.0,"Ayub, Amd",NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,P023000577,23,2.0,"Dwi Setyo, Amd",NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,P023000578,23,2.0,"Trisnanto, Amd",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# pgw_new = pegawai.drop(["QInstalasi", "KodeExternal", "NamaExternal", "StatusEnabled"], axis=1)
pgw_new = pegawai

In [3]:
db = SessionLocal()

In [40]:
ss = db.query(Ruangan).all()

In [5]:
pegawai = pegawai.astype(object).where(pd.notnull(pegawai), None)
# pegawai.head()

In [6]:
for i in range(0, pegawai.shape[0]):
    pegawais = Pegawai(id=pegawai.iloc[i]['IdPegawai'],
                      nama_lengkap=pegawai.iloc[i]['NamaLengkap'],
                      nama_panggilan=pegawai.iloc[i]['NamaPanggilan'],
                      jenis_kelamin=pegawai.iloc[i]['JenisKelamin'],
                      tempat_lahir=pegawai.iloc[i]['TempatLahir'],
                      tanggal_lahir=datetime.strptime(pegawai.iloc[i]['TglLahir'], "%d/%m/%Y %H:%M:%S") if pegawai.iloc[i]['TglLahir'] != None or pegawai.iloc[i]['TglLahir'] == 'NaN' else None
                     )
    db.add(pegawais)
    db.commit()
    db.refresh(pegawais)
del pegawai

In [4]:
from controllers.pegawai_controller import reset_pegawai, seed_pegawai
# reset_pegawai(db=db)
seed_pegawai(db=db)

766
0

True

In [28]:
for i in range(0, pgw_new.shape[0]):
    instalasi = Instalasi(id=pgw_new.iloc[i]['KdInstalasi'],
                      nama=pgw_new.iloc[i]['NamaInstalasi'],
                     )
    db.add(instalasi)
    db.commit()
    db.refresh(instalasi)
    db.close()

In [36]:
for i in range(0, pgw_new.shape[0]):
    ruangan = Ruangan(id=pgw_new.iloc[i]['KdRuangan'],
                      nama=pgw_new.iloc[i]['NamaRuangan'],
                      id_instalasi=pgw_new.iloc[i]['KdInstalasi']
                     )
    db.add(ruangan)
    db.commit()
    db.refresh(ruangan)
    db.close()

In [8]:
for i in range(0, pgw_new.shape[0]):
    instalasi = JenisSarana(nama=pgw_new.iloc[i]['JenisBarang'])
    db.add(instalasi)
    db.commit()
    db.refresh(instalasi)
    db.close()

In [2]:
from controllers.pegawai_controller import reset_pegawai

In [4]:
reset_pegawai(db=db)

(psycopg2.errors.ForeignKeyViolation) update or delete on table "pegawai" violates foreign key constraint "users_id_pegawai_fkey" on table "users"
DETAIL:  Key (id)=(8888888888) is still referenced from table "users".

[SQL: DELETE FROM pegawai]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

False

In [7]:
from controllers.user_controller import reset_users

ImportError: cannot import name 'reset_users' from 'controllers.user_controller' (F:\Log THL\aplikasi\Kardinahku_\controllers\user_controller.py)

In [6]:
reset_users(db=db)

NameError: name 'reset_users' is not defined