In [1]:
import pandas as pd
from sqlalchemy.orm import Session

In [2]:
pegawai = pd.read_csv("seed/DataPegawai.csv")

In [5]:
pegawai.tail()

,IdPegawai,KdJenisPegawai,KdTitle,NamaLengkap,NamaKeluarga,NamaPanggilan,JenisKelamin,TempatLahir,TglLahir,TglMasuk,TglKeluar
761,L001000068,7,4.0,IRKHAM ABDULLAH AZZAM,NaN,NaN,L,Tegal,7/8/1992 00:00:00,NaN,NaN
762,P023000575,23,2.0,"Santoso, Amd",NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,P023000576,23,2.0,"Ayub, Amd",NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,P023000577,23,2.0,"Dwi Setyo, Amd",NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,P023000578,23,2.0,"Trisnanto, Amd",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pgw_new = pegawai.drop(["KdJenisPegawai", "KdTitle", "TglMasuk", "TglKeluar"], axis=1)

In [8]:
pgw_new.to_csv()

,IdPegawai,NamaLengkap,NamaKeluarga,NamaPanggilan,JenisKelamin,TempatLahir,TglLahir
0,8888888888,Staff/Karyawan,NaN,NaN,L,NaN,1/1/1900 00:00:00
1,L013000001,"dr. WASRIL WAZAR, SpJp",NaN,NaN,L,Jakarta,23/4/1955 00:00:00
2,P013000002,dr. INDRIANA BUDIONO,NaN,NaN,P,Tegal,28/11/1954 00:00:00
3,L013000003,"dr. IZZUDIN DS, Sp.KJ.M.Kes",NaN,NaN,L,Pekalongan,15/10/1952 00:00:00
4,L013000004,"dr. ABDAL HAKIM TOHARI, SpRM.MMR",NaN,NaN,L,Nganjuk,6/7/1958 00:00:00
5,P013000005,dr. JOHANA JONO SEWOJO,NaN,NaN,P,Jakarta,20/7/1955 00:00:00
6,L013000006,"dr. ALIP ASMADI, SpRad",NaN,19600419 198701 1 002,L,Batang,19/4/1960 00:00:00
7,P013000007,dr. ENDANG TUNGGAL DEWI HOETOMO,NaN,19610108 198802 2 001,P,Madiun,1/8/1961 00:00:00
8,P013000008,"dr. ERLINA KRISANTI, Msi",NaN,NaN,P,Probolinggo,29/12/1963 00:00:00
9,P013000009,Dra. NIKEN TRI WIDJAJANING KOESWINATI,NaN,NaN,P,Surabaya,20/11/1954 00:00:00
10,P013000010,"dr. SRI PRIMAWATI INDRASWARI,SpKK",NaN,NaN,P,Surabaya,10/9/1963 00:00:00
11,L013000011,"dr. Irawan Eko Boedjo Margono, Sp B",NaN,19600521 198802 1 001,L,Boyolali,28/11/1954 00:00:00
12,L013000013,"dr. Probodjati, Sp OT",NaN,NaN,L,Jakarta,31/7/1963 00:00:00
13,P013000014,Dra. SITI ZUBAEDAH,NaN,NaN,P,Tegal,11/11/1958 00:00:00
14,L013000015,"dr. RADEN SETIYADI, SpA",NaN,19600606 198512 1 005,L,Purworejo,6/6/1960 00:00:00
15,P013000016,"SUSILOWATI MARYANING ASTUTI, S.Kep",NaN,NaN,P,Temanggung,3/1/1960 00:00:00
16,L013000017,"drg. SOEKAMTO, Sp.BM",NaN,NaN,L,Magelang,3/5/1956 00:00:00
17,L013000018,"dr. PARJITO, SpOG",19620713 198911 1 001,19620713 198911 1 001,L,Bantul,13/7/1962 00:00:00
18,L013000019,"dr. SAID BARABA, Sp.PD",NaN,19680521 199703 1 002,L,Tegal,21/5/1968 00:00:00
19,L013000020,"dr. SUNARTO, SpS",NaN,NaN,L,Sragen,20/5/1958 00:00:00
20,P013000021,"SRI ATUN, SH",NaN,NaN,P,Pemalang,1/10/1962 00:00:00
21,P013000022,"WIWIN AGUSTIYANI, SH,MSi",NaN,NaN,P,Semarang,17/8/1961 00:00:00
22,L013000023,"dr. HERY SUSANTO, SpA",NaN,19640926 199509 1 001,L,Boyolali,26/9/1964 00:00:00
23,L013000024,"SAENI, S.Kep",NaN,NaN,L,Kendal,17/1/1965 00:00:00
24,P013000025,"ETY RAHMAWATI, Amk.Keb",NaN,NaN,P,Majalaya,6/3/1957 00:00:00
25,P013000026,"SRI HARTIYANTI WIDAYATI, Amk",NaN,NaN,P,Temanggung,6/3/1957 00:00:00
26,P013000027,"TUTI RUSIATININGSIH, Amk",NaN,NaN,P,Tegal,15/12/1960 00:00:00
27,P013000028,Dra. TITI SULISTYOWATI,NaN,NaN,P,Brebes,25/11/1965 00:00:00
28,P013000029,N M SURTINI,NaN,NaN,P,Ciamis,5/3/1957 00:00:00
29,P013000030,"AFIAH, Amk",NaN,NaN,P,Brebes,9/1/1959 00:00:00
...,...,...,...,...,...,...,...
736,L007000610,DONI ZULFIKAR,NaN,NaN,L,NaN,NaN
737,L002000647,Ade hariyanto,NaN,NaN,L,NaN,10/10/1992 00:00:00
738,L007000653,RIZAL ADHI SAPUTRA,NaN,NaN,L,NaN,NaN
739,P007000654,DWI NITA PANGESTIKA,NaN,NaN,P,NaN,NaN
740,P007000657,DEWI SUSIYANTI,NaN,NaN,P,NaN,NaN
741,P007000660,ALVIANA NURUL A,NaN,NaN,P,NaN,NaN
742,L001000676,"dr.DODY SUHARTONO, SpKK/dr. Nadiah, Sp.KK,M.Kes",NaN,NaN,L,NaN,NaN
743,P007000688,Diana Eka Kartika,NaN,NaN,P,Magelang,4/5/1980 00:00:00
744,L007000689,M. Andi Ardiyanto,NaN,NaN,L,Tegal,29/1/1989 00:00:00
745,P023000542,"dr. Rizal Irvanda, Sp.M",NaN,NaN,L,NaN,1/1/1900 00:00:00
746,L007000691,Gilang Gusti Permana,NaN,NaN,L,Tegal,NaN
747,P007000692,Anisa Nurjannah,NaN,NaN,P,Tegal,NaN
748,P002000694,Rezza Dian Pratiwi,NaN,NaN,P,Tegal,NaN
749,P023000556,"dr. Nurbaiti, SP.T.H.T.K.L",NaN,19800919 200903 2 002,P,Jakarta,NaN
750,3333333333,Pendaftaran Online,NaN,NaN,NaN,NaN,NaN
751,P023000562,Afriandi Baihaqi,NaN,NaN,NaN,NaN,NaN
752,P023000563,Didi Isnaini,NaN,NaN,NaN,NaN,NaN
753,P023000569,Dian Nursandi,NaN,NaN,NaN,NaN,NaN
754,P023000565,Uly Rosdiana,NaN,NaN,NaN,NaN,NaN
755,P023000570,Akhmad Syaefudin,NaN,NaN,NaN,NaN,NaN
756,P023000567,Hibah Sugesti,NaN,NaN,NaN,NaN,NaN
757,P023000568,Arini Nur Saofiyani,NaN,NaN,NaN,NaN,NaN
758,P023000571,Akhmad Waluyo,NaN,NaN,NaN,NaN,NaN
759,P023000572,"Defi Anjar Sari, Amd. Farm",NaN,NaN,NaN,NaN,NaN
760,P023000573,"Ila Ubaidillah Dhofar, Amd",NaN,NaN,NaN,NaN,NaN
761,L001000068,IRKHAM ABDULLAH AZZAM,NaN,NaN,L,Tegal,7/8/1992 00:00:00
762,P023000575,"Santoso, Amd",NaN,NaN,NaN,NaN,NaN
763,P023000576,"Ayub, Amd",NaN,NaN,NaN,NaN,NaN
764,P023000577,"Dwi Setyo, Amd",NaN,NaN,NaN,NaN,NaN
765,P023000578,"Trisnanto, Amd",NaN,NaN,NaN,NaN,NaN