In [24]:
import pandas as pd
from sqlalchemy.orm import Session
from models import *
# from schemas.user_schema import *
# from schemas.ruangan_schema import *
# from schemas.instalasi_schema import *
from database import *
import numpy as np

In [15]:
# pegawai = pd.read_csv("modelses/seed/DataPegawai.csv")
pegawai = pd.read_csv("modelses/seed/Instalasi.csv")

In [16]:
pegawai.tail()

,KdInstalasi,NamaInstalasi,Fungsi,QInstalasi,KodeExternal,NamaExternal,StatusEnabled
22,23,Instalasi Cssd,Penunjang Non Medik,23,NaN,NaN,1
23,24,Instalasi Rawatan Kritis,Pelayanan Medik,24,NaN,NaN,1
24,25,Direksi,Pimpinan,27,NaN,NaN,1
25,26,Instalasi Pendidikan Latihan (DIKLAT),Diklat,45,NaN,NaN,1
26,27,Komite,Komite,50,NaN,NaN,1

In [21]:
pgw_new = pegawai.drop(["QInstalasi", "KodeExternal", "NamaExternal", "StatusEnabled"], axis=1)

In [20]:
db = SessionLocal()

In [40]:
ss = db.query(Ruangan).all()

In [26]:
# pgw_new = pgw_new.astype(object).where(pd.notnull(pgw_new), None)
pgw_new = pgw_new.astype(object)
pgw_new.head()

  KdInstalasi            NamaInstalasi               Fungsi
0           1  Instalasi Gawat Darurat      Pelayanan Medik
1           2    Instalasi Rawat Jalan      Pelayanan Medik
2           3     Instalasi Rawat Inap      Pelayanan Medik
3           4  Instalasi Bedah Sentral      Pelayanan Medik
4           5            Instalasi P3U  Penunjang Non Medik

In [56]:
for i in range(0, pgw_new.shape[0]):
    pegawai = Pegawai(id=pgw_new.iloc[i]['IdPegawai'],
                      nama_lengkap=pgw_new.iloc[i]['NamaLengkap'],
                      nama_panggilan=pgw_new.iloc[i]['NamaPanggilan'],
                      jenis_kelamin=pgw_new.iloc[i]['JenisKelamin'],
                      tempat_lahir=pgw_new.iloc[i]['TempatLahir'],
                      tanggal_lahir=pgw_new.iloc[i]['TglLahir']
                     )
    db.add(pegawai)
    db.commit()
    db.refresh(pegawai)

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (psycopg2.errors.DatatypeMismatch) column "tanggal_lahir" is of type timestamp without time zone but expression is of type double precision
LINE 1: ...ANI, Sp.P', '19771019 200604 2 015', 'Surakarta', 'NaN'::flo...
                                                             ^
HINT:  You will need to rewrite or cast the expression.

[SQL: INSERT INTO pegawai (id, nama_lengkap, nama_panggilan, tempat_lahir, tanggal_lahir, jenis_kelamin, no_hp, no_wa, created_at, update_at, deleted_at) VALUES (%(id)s, %(nama_lengkap)s, %(nama_panggilan)s, %(tempat_lahir)s, %(tanggal_lahir)s, %(jenis_kelamin)s, %(no_hp)s, %(no_wa)s, %(created_at)s, %(update_at)s, %(deleted_at)s)]
[parameters: {'id': 'P013000096', 'nama_lengkap': 'dr. RENI ARI MARTANI, Sp.P', 'nama_panggilan': '19771019 200604 2 015', 'tempat_lahir': 'Surakarta', 'tanggal_lahir': nan, 'jenis_kelamin': 'P', 'no_hp': None, 'no_wa': None, 'created_at': datetime.datetime(2021, 3, 4, 10, 12, 9, 626211), 'update_at': datetime.datetime(2021, 3, 4, 10, 12, 9, 626211), 'deleted_at': None}]
(Background on this error at: http://sqlalche.me/e/13/f405) (Background on this error at: http://sqlalche.me/e/13/7s2a)

In [25]:
for i in range(0, pgw_new.shape[0]):
    pegawai = Pegawai(id=pgw_new.iloc[i]['KdInstalasi'],
                      nama=pgw_new.iloc[i]['NamaInstalasi'],
                     )
    db.add(pegawai)
    db.commit()
    db.refresh(pegawai)

numpy.int64