In [1]:
import pandas as pd
from sqlalchemy.orm import Session
from models import *
# from schemas.user_schema import *
# from schemas.ruangan_schema import *
# from schemas.instalasi_schema import *
from database import *
import numpy as np

In [2]:
df_pegawai = pd.read_csv("modelses/seed/DataPegawai.csv")
df_instalasi = pd.read_csv("modelses/seed/Instalasi.csv")
df_ruangan = pd.read_csv("modelses/seed/Ruangan.csv")

In [30]:
pegawai.tail()

,KdRuangan,NamaRuangan,NoRuangan,LokasiRuangan,KdInstalasi,KdDetailJenisJasaPelayanan,NoCounter,QRuangan,KodeExternal,NamaExternal,StatusEnabled
215,991,Laboratorium Mikrobiologi Klinik,NaN,-,9,1.0,NaN,452,NaN,NaN,1
216,808,ICCU,NaN,ICCU,8,1.0,NaN,545,24.0,ICC,1
217,966,Bank Darah,NaN,-,9,1.0,NaN,458,NaN,NaN,1
218,809,PICU,NaN,-,8,1.0,NaN,546,24.0,PIC,1
219,119,Poli Stroke,NaN,NaN,2,1.0,NaN,477,NaN,NaN,1

In [33]:
# pgw_new = pegawai.drop(["QInstalasi", "KodeExternal", "NamaExternal", "StatusEnabled"], axis=1)
pgw_new = pegawai

In [3]:
db = SessionLocal()

In [40]:
ss = db.query(Ruangan).all()

In [4]:
# pgw_new = pgw_new.astype(object).where(pd.notnull(pgw_new), None)
df_pegawai = df_pegawai.astype(object)
df_instalasi = df_instalasi.astype(object)
df_ruangan = df_ruangan.astype(object)
# pgw_new.head()

In [15]:
df_pegawai.iloc[2]["TglLahir"].replace('/', '-')

'28-11-1954 00:00:00'

In [7]:
try:
    for i in range(0, df_pegawai.shape[0]):
        if i == 0:
            continue
        pegawai = Pegawai(id=df_pegawai.iloc[i]['IdPegawai'],
                      nama_lengkap=df_pegawai.iloc[i]['NamaLengkap'],
                      nama_panggilan=df_pegawai.iloc[i]['NamaPanggilan'],
                      jenis_kelamin=df_pegawai.iloc[i]['JenisKelamin'],
                      tempat_lahir=df_pegawai.iloc[i]['TempatLahir'],
                      tanggal_lahir=df_pegawai.iloc[i]['TglLahir'].replace('/', '-')
                     )
        db.add(pegawai)
        db.commit()
        db.refresh(pegawai)
    print("success")
except Exception as e:
    print(e)
    db.rollback()

(psycopg2.errors.DatetimeFieldOverflow) date/time field value out of range: "23/4/1955 00:00:00"
LINE 1: ...dr. WASRIL WAZAR, SpJp', 'NaN'::float, 'Jakarta', '23/4/1955...
                                                             ^
HINT:  Perhaps you need a different "datestyle" setting.

[SQL: INSERT INTO pegawai (id, nama_lengkap, nama_panggilan, tempat_lahir, tanggal_lahir, jenis_kelamin, no_hp, no_wa, created_at, update_at, deleted_at) VALUES (%(id)s, %(nama_lengkap)s, %(nama_panggilan)s, %(tempat_lahir)s, %(tanggal_lahir)s, %(jenis_kelamin)s, %(no_hp)s, %(no_wa)s, %(created_at)s, %(update_at)s, %(deleted_at)s)]
[parameters: {'id': 'L013000001', 'nama_lengkap': 'dr. WASRIL WAZAR, SpJp', 'nama_panggilan': nan, 'tempat_lahir': 'Jakarta', 'tanggal_lahir': '23/4/1955 00:00:00', 'jenis_kelamin': 'L', 'no_hp': None, 'no_wa': None, 'created_at': datetime.datetime(2021, 3, 15, 15, 40, 4, 427694), 'update_at': datetime.datetime(2021, 3, 15, 15, 40, 4, 427694), 'deleted_at': None}]
(Background on this error at: http://sqlalche.me/e/13/9h9h)

In [9]:
try:
    for i in range(0, df_instalasi.shape[0]):
        instalasi = Instalasi(id=df_instalasi.iloc[i]['KdInstalasi'],
                      nama=df_instalasi.iloc[i]['NamaInstalasi'],
                     )
        db.add(instalasi)
        db.commit()
        db.refresh(instalasi)
        db.close()
except:
    db.rollback()

In [12]:
try:
    for i in range(0, df_ruangan.shape[0]):
        ruangan = Ruangan(id=df_ruangan.iloc[i]['KdRuangan'],
                      nama=df_ruangan.iloc[i]['NamaRuangan'],
                      id_instalasi=df_ruangan.iloc[i]['KdInstalasi']
                     )
        db.add(ruangan)
        db.commit()
        db.refresh(ruangan)
        db.close()
except:
    db.rollback()